@model SmartError.API.DTOs.CreateErrorDto

<div class="container mt-4">

    <div class="form-card">

        <h2 class="page-title">
            Report New Error
        </h2>

        <form method="post">

    <div>
        <label>Title</label><br />
            <input asp-for="Title" class="form-control" />
    </div>

    <br />

    <div>
        <label>Description</label><br />
            <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <br />

    <div>
        <label>Stack Trace</label><br />
            <textarea asp-for="StackTrace" class="form-control"></textarea>
    </div>

    <br />

    <div>
        <label>Module Name</label><br />
            <input asp-for="ModuleName" class="form-control" />
    </div>

    <br />

    <div>
        <label>Status</label>
            <select asp-for="Status" class="form-select">
            <option>Open</option>
            <option>In Progress</option>
            <option>Resolved</option>
        </select>
    </div>

    <br />

        <button type="submit"
                class="btn btn-primary">
            Save Error
        </button>

        </form>
    </div>
</div>